In [1]:
from django.db import connection
from blog.models import Post

In [2]:
connection.queries

[]

In [3]:
Post.objects.all()

(0.000) SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."hits", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" ORDER BY "blog_post"."id" DESC LIMIT 21; args=()

<QuerySet [<Post: 제목>, <Post: 그래도 나는 쉴 수 없어.>, <Post: 따땃한 봄날이오다!!!>, <Post: 다음 주는 황금 연휴네!>, <Post: 따땃한 봄날이오다!!!>, <Post: 서울로 7017…낮에는 꽃과 나무·밤에는 550여개 조명 야경>, <Post: 제주도 국가지질공원 첫 재인증…지질명소 우도·비양도 추가>, <Post: [날씨] 육안으로 안보여도…미세먼지>, <Post: 제목>, <Post: title>]>

In [4]:
connection.queries

[{'sql': 'SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."hits", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" ORDER BY "blog_post"."id" DESC LIMIT 21',
  'time': '0.000'}]

## \_\_str\_\_

In [5]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def __str__(self):
        return self.name

In [6]:
tom = Person('Tom')

In [7]:
print(tom)

Tom

## ManyToManyField

In [8]:
from blog.models import Post, Tag

In [9]:
post = Post.objects.first()

(0.000) SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."hits", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" ORDER BY "blog_post"."id" DESC LIMIT 1; args=()

In [10]:
post.tag_set.all()

(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" INNER JOIN "blog_post_tag_set" ON ("blog_tag"."id" = "blog_post_tag_set"."tag_id") WHERE "blog_post_tag_set"."post_id" = 110 LIMIT 21; args=(110,)

In [11]:
tag1 = Tag.objects.all()[0]
tag2 = Tag.objects.all()[1]
tag3 = Tag.objects.all()[2]

(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" LIMIT 1; args=()
(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" LIMIT 1 OFFSET 1; args=()
(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" LIMIT 1 OFFSET 2; args=()

In [12]:
tag1

In [13]:
tag2

In [14]:
tag3

In [15]:
# 태그 추가
post.tag_set.add(tag1)
post.tag_set.add(tag2, tag3)

(0.000) BEGIN; args=None
(0.000) SELECT "blog_post_tag_set"."tag_id" FROM "blog_post_tag_set" WHERE ("blog_post_tag_set"."post_id" = 110 AND "blog_post_tag_set"."tag_id" IN (1)); args=(110, 1)
(0.000) INSERT INTO "blog_post_tag_set" ("post_id", "tag_id") SELECT 110, 1; args=(110, 1)
(0.000) BEGIN; args=None
(0.000) SELECT "blog_post_tag_set"."tag_id" FROM "blog_post_tag_set" WHERE ("blog_post_tag_set"."post_id" = 110 AND "blog_post_tag_set"."tag_id" IN (2, 3)); args=(110, 2, 3)
(0.000) INSERT INTO "blog_post_tag_set" ("post_id", "tag_id") SELECT 110, 2 UNION ALL SELECT 110, 3; args=(110, 2, 110, 3)

In [16]:
post.tag_set.all()

(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" INNER JOIN "blog_post_tag_set" ON ("blog_tag"."id" = "blog_post_tag_set"."tag_id") WHERE "blog_post_tag_set"."post_id" = 110 LIMIT 21; args=(110,)

In [17]:
# 태그 삭제
post.tag_set.remove(tag1)

(0.000) BEGIN; args=None
(0.000) DELETE FROM "blog_post_tag_set" WHERE ("blog_post_tag_set"."post_id" = 110 AND "blog_post_tag_set"."tag_id" IN (1)); args=(110, 1)

In [18]:
post.tag_set.all()

(0.000) SELECT "blog_tag"."id", "blog_tag"."name" FROM "blog_tag" INNER JOIN "blog_post_tag_set" ON ("blog_tag"."id" = "blog_post_tag_set"."tag_id") WHERE "blog_post_tag_set"."post_id" = 110 LIMIT 21; args=(110,)